# Default ignored files
/../../Rock Paper Scissors Python CLI Game /.idea/shelf/
/../../Rock Paper Scissors Python CLI Game /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Rock Paper Scissors Python CLI Game /.idea/httpRequests/
# Datasource local storage ignored files
/../../Rock Paper Scissors Python CLI Game /.idea/dataSources/
/../../Rock Paper Scissors Python CLI Game /.idea/dataSources.local.xml
